on:
  workflow_dispatch:
  schedule:
  - cron: '4 10 * * *'

jobs:
  deploy:
    permissions: {}
    runs-on: ubuntu-latest
    environment: defaultenv
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v5
    - name: 'run the python script'
      run: |
        uv run parse.py
      env:
        NISBOTSECRET: ${{ secrets.NISBOTSECRET }}
